@import url('../index.css');

.navbar-custom {
  background-color: var(--primary);
  padding: 1.5rem 0;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.brand-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary) !important;
  letter-spacing: 0.5px;
}

.nav-links {
  gap: 2rem;
  align-items: center;
}

.nav-links .nav-link {
  color: var(--secondary) !important;
  font-size: 0.95rem;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.nav-links .nav-link:hover {
  opacity: 0.7;
}

.cart-link {
  margin-right: 1rem;
}

.nav-links .book-now-btn {
  background-color: var(--secondary);
  color: var(--tertiary) !important;
  padding: 0.75rem 1.75rem !important;
  border-radius: 25px;
  font-weight: 600;
  font-size: 0.85rem;
  transition: background-color 0.3s ease;
}

.nav-links .book-now-btn:hover {
  background-color: #333333;
}

@media (max-width: 991px) {
  .nav-links {
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .book-now-btn {
    margin-top: 0.5rem;
  }
}
