:root {
  --primary: #dedede;
  --secondary: #000000;
  --tertiary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.page-content {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

/* Tablet responsive padding */
@media (max-width: 991px) {
  .page-content {
    padding: 0 2rem;
  }
}

/* Mobile responsive padding */
@media (max-width: 576px) {
  .page-content {
    padding: 0 1.5rem;
  }
}
